aniso8601==10.0.1
annotated-types==0.7.0
astroid==4.0.3
blinker==1.9.0
cachetools==6.2.4
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
coverage==7.13.1
dill==0.4.0
durationpy==0.10
Flask==3.1.2
Flask-RESTful==0.3.10
google-auth==2.46.0
gunicorn==23.0.0
httpproblem==0.2.0
idna==3.11
iniconfig==2.3.0
isort==7.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
# CSM 1.7 uses Kubernetes 1.32, so use client v32.x to ensure compatability
kubernetes>=32.0.1,<33.0
kubernetes-stubs==22.6.0.post1
librt==0.7.7
MarkupSafe==3.0.3
mccabe==0.7.0
mypy==1.19.1
mypy_extensions==1.1.0
oauthlib==3.3.1
packaging==25.0
pathspec==1.0.0
platformdirs==4.5.1
pluggy==1.6.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pylint==4.0.4
pytest==9.0.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
tomlkit==0.13.3
types-click==7.1.8
types-Flask==1.1.6
types-Jinja2==2.11.9
types-MarkupSafe==1.1.10
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20250913
types-urllib3==1.26.25.14
types-Werkzeug==1.0.9
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.3.0
websocket-client==1.9.0
Werkzeug==3.1.4
